# walmart

In [342]:
import sys
sys.path.append('..')

In [343]:
# imoports
import math

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [344]:
# constants

FEATURES_DATA_FILE = '../data/features.csv'
STORES_DATA_FILE = '../data/stores.csv'
TRAIN_DATA_FILE = '../data/train.csv'
TEST_DATA_FILE = '../data/test.csv'

## Load and Split the data

In [345]:
# load the data

features_df = pd.read_csv(FEATURES_DATA_FILE)
store_df = pd.read_csv(STORES_DATA_FILE)
train_original_df = pd.read_csv(TRAIN_DATA_FILE)

In [346]:
features_df["Date"] = features_df["Date"].apply(pd.to_datetime)
train_original_df["Date"] = train_original_df["Date"].apply(pd.to_datetime)

In [347]:
df = train_original_df.copy()

# Combine the tables

In [348]:
features_df.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

In [349]:
store_df.head()

   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

In [350]:
df.head()

   Store  Dept       Date  Weekly_Sales  IsHoliday
0      1     1 2010-02-05      24924.50      False
1      1     1 2010-02-12      46039.49       True
2      1     1 2010-02-19      41595.55      False
3      1     1 2010-02-26      19403.54      False
4      1     1 2010-03-05      21827.90      False

In [351]:
df = df.merge(store_df, on="Store")
df = df.merge(features_df, on=["Store", "Date"])
df

,Store,Dept,Date,Weekly_Sales,IsHoliday_x,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday_y
0,1,1,2010-02-05,24924.50,False,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,1,2010-02-12,46039.49,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,1,2010-02-19,41595.55,False,A,151315,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,1,2010-02-26,19403.54,False,A,151315,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,1,2010-03-05,21827.90,False,A,151315,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421565,45,98,2012-09-28,508.37,False,B,118221,64.88,3.997,4556.61,20.64,1.50,1601.01,3288.25,192.013558,8.684,False
421566,45,98,2012-10-05,628.10,False,B,118221,64.89,3.985,5046.74,NaN,18.82,2253.43,2340.01,192.170412,8.667,False
421567,45,98,2012-10-12,1061.02,False,B,118221,54.47,4.000,1956.28,NaN,7.89,599.32,3990.54,192.327265,8.667,False
421568,45,98,2012-10-19,760.01,False,B,118221,56.47,3.969,2004.02,NaN,3.18,437.73,1537.49,192.330854,8.667,False
421569,45,98,2012-10-26,1076.80,False,B,118221,58.85,3.882,4018.91,58.08,100.00,211.94,858.33,192.308899,8.667,False

In [352]:
for column in df.columns:
    if df[column].isna().sum() > 0:
        print(column, df[column].isna().sum())
        df = df.drop(columns=[column])

df

MarkDown1 270889
MarkDown2 310322
MarkDown3 284479
MarkDown4 286603
MarkDown5 270138

,Store,Dept,Date,Weekly_Sales,IsHoliday_x,Type,Size,Temperature,Fuel_Price,CPI,Unemployment,IsHoliday_y
0,1,1,2010-02-05,24924.50,False,A,151315,42.31,2.572,211.096358,8.106,False
1,1,1,2010-02-12,46039.49,True,A,151315,38.51,2.548,211.242170,8.106,True
2,1,1,2010-02-19,41595.55,False,A,151315,39.93,2.514,211.289143,8.106,False
3,1,1,2010-02-26,19403.54,False,A,151315,46.63,2.561,211.319643,8.106,False
4,1,1,2010-03-05,21827.90,False,A,151315,46.50,2.625,211.350143,8.106,False
...,...,...,...,...,...,...,...,...,...,...,...,...
421565,45,98,2012-09-28,508.37,False,B,118221,64.88,3.997,192.013558,8.684,False
421566,45,98,2012-10-05,628.10,False,B,118221,64.89,3.985,192.170412,8.667,False
421567,45,98,2012-10-12,1061.02,False,B,118221,54.47,4.000,192.327265,8.667,False
421568,45,98,2012-10-19,760.01,False,B,118221,56.47,3.969,192.330854,8.667,False
421569,45,98,2012-10-26,1076.80,False,B,118221,58.85,3.882,192.308899,8.667,False

## First Describe of the data

In [353]:
df.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday_x,Type,Size,Temperature,Fuel_Price,CPI,Unemployment,IsHoliday_y
0,1,1,2010-02-05,24924.50,False,A,151315,42.31,2.572,211.096358,8.106,False
1,1,1,2010-02-12,46039.49,True,A,151315,38.51,2.548,211.242170,8.106,True
2,1,1,2010-02-19,41595.55,False,A,151315,39.93,2.514,211.289143,8.106,False
3,1,1,2010-02-26,19403.54,False,A,151315,46.63,2.561,211.319643,8.106,False
4,1,1,2010-03-05,21827.90,False,A,151315,46.50,2.625,211.350143,8.106,False

In [354]:
df.describe()

,Store,Dept,Date,Weekly_Sales,Size,Temperature,Fuel_Price,CPI,Unemployment
count,421570.000000,421570.000000,421570,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000
mean,22.200546,44.260317,2011-06-18 08:30:31.963375104,15981.258123,136727.915739,60.090059,3.361027,171.201947,7.960289
min,1.000000,1.000000,2010-02-05 00:00:00,-4988.940000,34875.000000,-2.060000,2.472000,126.064000,3.879000
25%,11.000000,18.000000,2010-10-08 00:00:00,2079.650000,93638.000000,46.680000,2.933000,132.022667,6.891000
50%,22.000000,37.000000,2011-06-17 00:00:00,7612.030000,140167.000000,62.090000,3.452000,182.318780,7.866000
75%,33.000000,74.000000,2012-02-24 00:00:00,20205.852500,202505.000000,74.280000,3.738000,212.416993,8.572000
max,45.000000,99.000000,2012-10-26 00:00:00,693099.360000,219622.000000,100.140000,4.468000,227.232807,14.313000
std,12.785297,30.492054,NaN,22711.183519,60980.583328,18.447931,0.458515,39.159276,1.863296

In [355]:
df["IsHoliday"] = df["IsHoliday_x"]
df = df.drop(columns=["IsHoliday_x", "IsHoliday_y"])

In [356]:
df["Store-Type"] = df["Type"]
df["Store-Size"] = df["Size"]

df = df.drop(columns=["Type", "Size"])

In [357]:
df["Store-Type"] = df["Store-Type"].map({'A': 1, 'B': 2, 'C': 3})

In [358]:
df

,Store,Dept,Date,Weekly_Sales,Temperature,Fuel_Price,CPI,Unemployment,IsHoliday,Store-Type,Store-Size
0,1,1,2010-02-05,24924.50,42.31,2.572,211.096358,8.106,False,1,151315
1,1,1,2010-02-12,46039.49,38.51,2.548,211.242170,8.106,True,1,151315
2,1,1,2010-02-19,41595.55,39.93,2.514,211.289143,8.106,False,1,151315
3,1,1,2010-02-26,19403.54,46.63,2.561,211.319643,8.106,False,1,151315
4,1,1,2010-03-05,21827.90,46.50,2.625,211.350143,8.106,False,1,151315
...,...,...,...,...,...,...,...,...,...,...,...
421565,45,98,2012-09-28,508.37,64.88,3.997,192.013558,8.684,False,2,118221
421566,45,98,2012-10-05,628.10,64.89,3.985,192.170412,8.667,False,2,118221
421567,45,98,2012-10-12,1061.02,54.47,4.000,192.327265,8.667,False,2,118221
421568,45,98,2012-10-19,760.01,56.47,3.969,192.330854,8.667,False,2,118221
421569,45,98,2012-10-26,1076.80,58.85,3.882,192.308899,8.667,False,2,118221

In [359]:
df["index-2"] = df.index
df["Store-Dept"] = df["Store"].astype(str) + "-" + df["Dept"].astype(str)
df = df.sort_values(by=["Store-Dept", "Date"])

In [360]:
df["Weekly-Diff"] = df["Weekly_Sales"] - df["Weekly_Sales"].shift(1)

In [361]:
df.drop(index=df[df["Store-Dept"] != df["Store-Dept"].shift(1)].index)
df.drop(index=[df.index.tolist()[0]])

,Store,Dept,Date,Weekly_Sales,Temperature,Fuel_Price,CPI,Unemployment,IsHoliday,Store-Type,Store-Size,index-2,Store-Dept,Weekly-Diff
1,1,1,2010-02-12,46039.49,38.51,2.548,211.242170,8.106,True,1,151315,1,1-1,21114.99
2,1,1,2010-02-19,41595.55,39.93,2.514,211.289143,8.106,False,1,151315,2,1-1,-4443.94
3,1,1,2010-02-26,19403.54,46.63,2.561,211.319643,8.106,False,1,151315,3,1-1,-22192.01
4,1,1,2010-03-05,21827.90,46.50,2.625,211.350143,8.106,False,1,151315,4,1-1,2424.36
5,1,1,2010-03-12,21043.39,57.79,2.667,211.380643,8.106,False,1,151315,5,1-1,-784.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87519,9,98,2011-12-16,66.75,47.31,3.159,222.882548,6.054,False,2,125833,87519,9-98,-9.02
87520,9,98,2011-12-23,25.50,44.43,3.112,223.066113,6.054,False,2,125833,87520,9-98,-41.25
87521,9,98,2012-01-06,0.50,47.54,3.157,223.433241,5.667,False,2,125833,87521,9-98,-25.00
87522,9,98,2012-01-27,-1.00,49.38,3.290,223.806053,5.667,False,2,125833,87522,9-98,-1.50
87523,9,98,2012-05-18,6.00,69.52,3.630,225.494250,5.539,False,2,125833,87523,9-98,7.00

In [362]:
df.index = df["index-2"]
df = df.drop(columns=["index-2"])

In [363]:
df

,Store,Dept,Date,Weekly_Sales,Temperature,Fuel_Price,CPI,Unemployment,IsHoliday,Store-Type,Store-Size,Store-Dept,Weekly-Diff
index-2,,,,,,,,,,,,,
0,1,1,2010-02-05,24924.50,42.31,2.572,211.096358,8.106,False,1,151315,1-1,NaN
1,1,1,2010-02-12,46039.49,38.51,2.548,211.242170,8.106,True,1,151315,1-1,21114.99
2,1,1,2010-02-19,41595.55,39.93,2.514,211.289143,8.106,False,1,151315,1-1,-4443.94
3,1,1,2010-02-26,19403.54,46.63,2.561,211.319643,8.106,False,1,151315,1-1,-22192.01
4,1,1,2010-03-05,21827.90,46.50,2.625,211.350143,8.106,False,1,151315,1-1,2424.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...
87519,9,98,2011-12-16,66.75,47.31,3.159,222.882548,6.054,False,2,125833,9-98,-9.02
87520,9,98,2011-12-23,25.50,44.43,3.112,223.066113,6.054,False,2,125833,9-98,-41.25
87521,9,98,2012-01-06,0.50,47.54,3.157,223.433241,5.667,False,2,125833,9-98,-25.00
87522,9,98,2012-01-27,-1.00,49.38,3.290,223.806053,5.667,False,2,125833,9-98,-1.50
87523,9,98,2012-05-18,6.00,69.52,3.630,225.494250,5.539,False,2,125833,9-98,7.00

# split to train and test

In [364]:
sorted_dates = df.sort_values(by="Date")["Date"]
sorted_dates = sorted_dates.reset_index()["Date"]

limit_date = sorted_dates.head(int(sorted_dates.count() * 0.8)).max()

train_df = df[df["Date"] <= limit_date].copy()
test_df = df[df["Date"] > limit_date].copy()

train_df = train_df.reset_index()
test_df = test_df.reset_index()

In [365]:
df["Date"].sort_values().unique()

<DatetimeArray>
['2010-02-05 00:00:00', '2010-02-12 00:00:00', '2010-02-19 00:00:00',
 '2010-02-26 00:00:00', '2010-03-05 00:00:00', '2010-03-12 00:00:00',
 '2010-03-19 00:00:00', '2010-03-26 00:00:00', '2010-04-02 00:00:00',
 '2010-04-09 00:00:00',
 ...
 '2012-08-24 00:00:00', '2012-08-31 00:00:00', '2012-09-07 00:00:00',
 '2012-09-14 00:00:00', '2012-09-21 00:00:00', '2012-09-28 00:00:00',
 '2012-10-05 00:00:00', '2012-10-12 00:00:00', '2012-10-19 00:00:00',
 '2012-10-26 00:00:00']
Length: 143, dtype: datetime64[ns]

In [366]:
train_df["Date"].sort_values().unique()

<DatetimeArray>
['2010-02-05 00:00:00', '2010-02-12 00:00:00', '2010-02-19 00:00:00',
 '2010-02-26 00:00:00', '2010-03-05 00:00:00', '2010-03-12 00:00:00',
 '2010-03-19 00:00:00', '2010-03-26 00:00:00', '2010-04-02 00:00:00',
 '2010-04-09 00:00:00',
 ...
 '2012-02-10 00:00:00', '2012-02-17 00:00:00', '2012-02-24 00:00:00',
 '2012-03-02 00:00:00', '2012-03-09 00:00:00', '2012-03-16 00:00:00',
 '2012-03-23 00:00:00', '2012-03-30 00:00:00', '2012-04-06 00:00:00',
 '2012-04-13 00:00:00']
Length: 115, dtype: datetime64[ns]

In [367]:
test_df["Date"].sort_values().unique()

<DatetimeArray>
['2012-04-20 00:00:00', '2012-04-27 00:00:00', '2012-05-04 00:00:00',
 '2012-05-11 00:00:00', '2012-05-18 00:00:00', '2012-05-25 00:00:00',
 '2012-06-01 00:00:00', '2012-06-08 00:00:00', '2012-06-15 00:00:00',
 '2012-06-22 00:00:00', '2012-06-29 00:00:00', '2012-07-06 00:00:00',
 '2012-07-13 00:00:00', '2012-07-20 00:00:00', '2012-07-27 00:00:00',
 '2012-08-03 00:00:00', '2012-08-10 00:00:00', '2012-08-17 00:00:00',
 '2012-08-24 00:00:00', '2012-08-31 00:00:00', '2012-09-07 00:00:00',
 '2012-09-14 00:00:00', '2012-09-21 00:00:00', '2012-09-28 00:00:00',
 '2012-10-05 00:00:00', '2012-10-12 00:00:00', '2012-10-19 00:00:00',
 '2012-10-26 00:00:00']
Length: 28, dtype: datetime64[ns]

In [368]:
mean_size = train_df["Store-Size"].mean()
std_size = train_df["Store-Size"].std()
train_df["Store-Size"] = (train_df["Store-Size"] - mean_size) / std_size
test_df["Store-Size"] = (test_df["Store-Size"] - mean_size) / std_size

In [369]:
train_df = train_df.drop(columns=["index-2"])
test_df = test_df.drop(columns=["index-2"])

In [370]:
train_df

,Store,Dept,Date,Weekly_Sales,Temperature,Fuel_Price,CPI,Unemployment,IsHoliday,Store-Type,Store-Size,Store-Dept,Weekly-Diff
0,1,1,2010-02-05,24924.50,42.31,2.572,211.096358,8.106,False,1,0.237878,1-1,NaN
1,1,1,2010-02-12,46039.49,38.51,2.548,211.242170,8.106,True,1,0.237878,1-1,21114.99
2,1,1,2010-02-19,41595.55,39.93,2.514,211.289143,8.106,False,1,0.237878,1-1,-4443.94
3,1,1,2010-02-26,19403.54,46.63,2.561,211.319643,8.106,False,1,0.237878,1-1,-22192.01
4,1,1,2010-03-05,21827.90,46.50,2.625,211.350143,8.106,False,1,0.237878,1-1,2424.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...
338733,9,98,2011-12-09,75.77,37.65,3.158,222.656120,6.054,False,2,-0.180265,9-98,21.02
338734,9,98,2011-12-16,66.75,47.31,3.159,222.882548,6.054,False,2,-0.180265,9-98,-9.02
338735,9,98,2011-12-23,25.50,44.43,3.112,223.066113,6.054,False,2,-0.180265,9-98,-41.25
338736,9,98,2012-01-06,0.50,47.54,3.157,223.433241,5.667,False,2,-0.180265,9-98,-25.00
338737,9,98,2012-01-27,-1.00,49.38,3.290,223.806053,5.667,False,2,-0.180265,9-98,-1.50

In [371]:
test_df

,Store,Dept,Date,Weekly_Sales,Temperature,Fuel_Price,CPI,Unemployment,IsHoliday,Store-Type,Store-Size,Store-Dept,Weekly-Diff
0,1,1,2012-04-20,16976.19,66.76,3.877,221.564074,7.143,False,1,0.237878,1-1,-17708.02
1,1,1,2012-04-27,16347.60,67.23,3.814,221.617937,7.143,False,1,0.237878,1-1,-628.59
2,1,1,2012-05-04,17147.44,75.55,3.749,221.671800,7.143,False,1,0.237878,1-1,799.84
3,1,1,2012-05-11,18164.20,73.77,3.688,221.725663,7.143,False,1,0.237878,1-1,1016.76
4,1,1,2012-05-18,18517.79,70.33,3.630,221.742674,7.143,False,1,0.237878,1-1,353.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...
82827,9,96,2012-10-05,4306.43,66.61,3.617,226.966232,4.954,False,2,-0.180265,9-96,543.22
82828,9,96,2012-10-12,3675.99,60.09,3.601,227.169392,4.954,False,2,-0.180265,9-96,-630.44
82829,9,96,2012-10-19,3540.05,68.01,3.594,227.214288,4.954,False,2,-0.180265,9-96,-135.94
82830,9,96,2012-10-26,4752.25,69.52,3.506,227.232807,4.954,False,2,-0.180265,9-96,1212.20
82831,9,98,2012-05-18,6.00,69.52,3.630,225.494250,5.539,False,2,-0.180265,9-98,7.00